.main {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.topNav {
  padding: 0 30px;
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: auto; /* Ensure it respects the specified height */
  max-height: none;
}

.navItems {
  display: flex;
  gap: 30px;
}

.item {
  display: flex;
  color: #ccc;
  font-size: 1rem;
  cursor: pointer;
  user-select: none;
}

.selected {
  color: white;
  font-weight: 900;
}

.leftNav {
  width: 17%;
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9CAD88;
  border-radius: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 20px;
}

.leftNav .logo img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25%;
}

.navItem {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 15px;
  padding: 25px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
}

.selected {
  background-color: #EEECDE;
  color: #333;
  font-weight: bold;
}

.navIcon {
  width: 24px;
  height: 24px;
}

.navText {
  font-size: 1.2rem;
}

.bottomItem {
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: 25px;
}

.body {
  height: 100%;
  width: 80%;
  position: absolute;
  left: 20%;
  overflow-y: auto;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top{
    margin-top: 20px;
    margin-right: 5px;
    width: 78vw;
    height: 55vh;
    background-color: orange;
  }
  .bottom {
    margin-top: 20px;
    margin-right: 5px;
    width: 78vw;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .totalDevices {
      width: 40%;
      height: 90%;
      background-color: #FFFDEE;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        color: black;
        font-size: 1.2rem;
        font-weight: 600;
        padding: 20px;
      }

      .percentageCol {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
      .percentageRow{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      .percentage {
        color: #635959;
        font-size: 2rem;
      }
    }

    .usageGraph {
      width: 58%;
      height: 90%;
      background-color: #2164614F;
      border: 1px solid black;
      border-radius: 15px;
      overflow: hidden; /* Prevent chart from overflowing */
      display: flex;
      align-items: center; /* Center vertically */
      justify-content: center; /* Center horizontally */
    }
    
    
  }
}
/* .content {
  width: 100%; 
  height: 98vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */