.container {
  position: relative;
  min-height: 100%;
  width: 100dvw;
  padding-top: 20px;
  display: flex;
  gap: 20px;
  height: 100vh;
  overflow: hidden;
  &.containerWithDocks {
    padding-top: 20px;
  }
}


.uploadSectionOverWrap {
  width: 70%;
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

.uploadSectionContainer {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s;
  transform: scale(1);

  &.uploadSectionContainerOvered {
    box-shadow: 0px 0px 24px -3px rgba(var(--white), 0.5);
    transform: scale(1.02);
    background-color: var(--gray-300);
  }

  &.uploadSectionContainerWithDoc {
    overflow: hidden;
    position: relative;
    justify-content: flex-start;
    .uploadSectionTitleLabel {
      position: absolute;
      right: 10px;
      top: 10px;
      margin-top: 0;
      z-index: 2;
    }
  }


  
  .uploadSectionTitle {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }

  .uploadSectionTitleLabel {
    color: var(--brand-purple);
    cursor: pointer;
    background: none;
    border: none;
    font-size: 1rem;
  }
}

.closeButton {
  color: black;
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 2px 8px;
}


.uploadedFileSectionContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

.menuContainer {
  height: 98%;
  width: 100%;
}


.chatMessagesContainer::-webkit-scrollbar-thumb {
  background: white; 
  width: 10px;
  /* border-radius: 12px;  */
}
.chatMessagesContainer::-webkit-scrollbar {
  width: 2px;
}

.chatMessagesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 5px;
  padding-bottom: 100px;
  margin: auto;
  gap: 25px;
  overflow-y: auto;

  .messageContainer {
    width: 95%;
    display: inline-flex;
    flex-direction: column;
    gap: 3px;
  }

  .profileCircle {
    height: 20px;
    width: 20px;
    border-radius: 50%; 
    overflow: hidden; 
  }
  .profileCircle img {
    display: block;
    width: 100%; 
    height: auto; 
  }


  .profileContent {
    width: 100%;
    height: 100%;
    border: 1px solid red;
  }
  
  .message {
    align-self: flex-end;
    flex-direction: row-reverse;
    display: flex;
    max-width: 100%; 
    color: white;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 0.9rem;
    max-width: 85%;
    word-wrap: break-word; /* Ensure the text wraps within the message box */
  }
  
  .messageContentBot {
    white-space: pre-wrap;
    background-color: black;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
  }
  .messageContentUser {
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 8px;
  }

  .botLabel {
    color: #5661F6;
    font-size: 0.6rem;
    font-weight: 700;
  }
  .messageResponse {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 100%; 
    color: white;
    gap: 5px;
    align-items: flex-start;
    font-weight: 400;
    font-size: 0.9rem;
    max-width: 85%;
    /* padding-left: 2rem; */
    word-wrap: break-word; /* Ensure the text wraps within the message box */
  }
}

@keyframes fillEmpty {
  0% { background-position: 100% 0; }
  100% { background-position: -100% 0; }
}

.addColumnPage {
  height: 100%;
  padding-left: 10px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;

.columnTitle {
  color: white;
  font-weight: 600;
  font-size: 1.1rem;
} 
.item {
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 10px;
  .itemText {
    min-width: 15%;
    font-size: 0.9rem;
    font-weight: 500;
  }

  .inputColumn {
    width: 70%;
    }
  .dropDown {
    width: 70%;
  }
  .selectDropdown {
    color: rgba(255, 255 ,255, 0.3);
    padding: 10px 8px;
    font-size: 0.95rem;
    border-radius: 8px;
    border: 2px solid rgba(255, 255 ,255, 0.3);
    background-color: #343541;
    cursor: pointer;
    width: 100%;
  }
  
  .selectDropdown option {
    padding: 15px;
    color: black;
    background-color: white;
  }
}


}

.templatesPage {
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .titleDialog {
    color: #FFFFFFCC;
    font-size: 1.7rem;
    padding-top: 1rem;
    font-weight: 500;
  }
  .templatesList {
    padding-top: 5%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    /* height: 65%; */
    justify-content: center;

    .templateItem {
      color: white;
      display: flex;
      width: calc(33.33% - 5px);
      border-radius: 10px;
      border: 2px solid white;
      height: 90px;
      justify-content: center;
      align-items: center;
    }
    .templateItemDisabled {
      opacity: 0.5;
      pointer-events: none;
    }
    .templateItemDisabled:hover {
      background-color: #0C2A52;
      
    }
    .templateItem:hover {
      background-color: #5461f9;
      cursor: pointer;
    }
  }
}

.profilePage {
  height: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .statTitle {
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
  }
  .stat {
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 20px;
  
    .progressbar {
      width: 60%;
      border: 1px solid white;
      height: 20px;
      border-radius: 5px;
    }
    .progress {
      height: 100%;
      /* width: 60%; */
      background-color: #5461f9;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .statTitle {
      min-width: 20%;
      font-size: 0.9rem;
    }
  }
  
}

.userText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: white;
  font-size: 0.9rem;
  font-weight: 500;
}

.userDetails{
  display: flex;
  gap: 10px;
  align-items: center;
}

.generatingErrorContainer {
  width: 100%;
  padding: 15px 20px;
  border: 2px dashed var(--gray-700);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 200% 100%; /* Double the size of the gradient */
  color: black;
  font-weight: bold;
}

.generatingContainer {
  width: 100%;
  padding: 15px 20px;
  border: 2px dashed var(--gray-700);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: 200% 100%; /* Double the size of the gradient */
  background-image: repeating-linear-gradient(
    to left,
    yellow,
    yellow calc(50% + 1px),
    #ffffff calc(50% + 1px),
    #ffffff calc(100% - 1px)
  );
  animation: fillEmpty 4s linear infinite;
  color: black;
  font-weight: bold;
}


.documentListContainer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  gap: 10px;
  border: 2px solid ;
  margin-bottom: 12px;
  padding: 0px 10px;
}
.documentItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  min-width: 110px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(110, 177, 219, 0.3);
  color: black;
  font-weight: 500;
  border: 1px solid black;
  font-size: 0.8rem;
}
.inputContainer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 700px;
  transform: translateX(-50%);
  z-index: 10; /* Ensure the container is above the blur */
}
.inputContainer::before {
  content: '';
  position: absolute;
  top: -100%; /* Extend above and below the container */
  bottom: -60%;
  left: -10%;
  right: -10%;
  /* background: linear-gradient(
    rgba(53, 52, 64, 0),
    rgba(53, 52, 64, 1)
  ); */
  /* backdrop-filter: blur(3px); Apply the blur effect */
  z-index: -1; /* Ensure the blur is behind the container */
  pointer-events: none; /* Allow interactions with the container */
}


.inputContainer .input {
  width: 100%;
  max-width: 700px;
  padding: 3px 5px;
  border-radius: 10px;
  color: black;
  font-size: 0.7rem;
  background-color: white;
}


.sendButton {
  background-color: #5661F6;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -8px;
}

.sendButton img {
  height: 4px;
}

.brain {
  display: flex;
  align-items: flex-end;
  height: 25px;
  padding-right: 3px;
}


.uploadModal {
  width: 430px;
}

.uploadedDocumentsList {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: auto;
  gap: 25px;
  margin-right: -10px;
  padding-right: 10px;
  border-radius: 5px;
}

.documentContainer {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.documentTagsContainer {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 100%;
}

.documentTagsWrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px 5px;
  width: 100%;
}
.documentTagsTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.3;
  text-align: left;
  margin-left: 4px;
}
.documentTags {
  background-color: rgba(50, 157, 207, 0.2);
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  line-height: 24px;
  /* padding: 0 5px; */
}

.documentSummary {
  background-color: rgba(50, 157, 207, 0.2);
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font-weight: 500;
  line-height: 24px;
  padding: 0 5px;
  display: inline-block;
}

.documentTreeBlock {
  padding: 5px;
  background-color: rgba(50, 157, 207, 0.2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .documentTreeBlockTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    width: 100%;
    text-align: left;
  }
  .documentTreeBlockMainTitle {
    font-size: 18px;
    text-align: center;
  }
  .documentTreeBlockDescription {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    text-align: left;
  }
}

.rootNodeItemContainer {
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--gray-400);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 200px;
  text-align: center;
  /* max-height: 50px; */
  .rootNodeItemTitle {
    font-size: 14px;
    font-weight: 500;
  }
}

.childrenNodeContainer {
  background-color: var(--white);
  border-radius: 10px;
  overflow: hidden;
  border: 2px solid var(--gray-400);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 10px;
  max-width: 200px;
  text-align: center;
  .rootNodeItemTitle {
    font-size: 12px;
    font-weight: 500;
  }
}

.nuggetBlock {
  padding: 20px 10px;

  .nuggetTitle {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 15px 0px;
  }

  .nuggetItem {
    display: flex;
    gap: 6px;
    align-items: center;
    padding-bottom: 20px;
  }

  .nuggetText {
    background-color: rgb(110, 177, 219, 0.3);
    padding: 13px 10px;
    font-weight: 500;
    font-size: 0.85rem;
    border-radius: 8px;
  }
}

.menuTab {
  list-style: none;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  width: fit-content;
  gap: 2px;
  padding: 0;
  background-color: #23232d;
  border: 1px solid var(--gray-700);
}

.tabItem {
  color: white;
  margin: 5px 5px;
  text-align: center;
  border-radius: 8px;
  padding: 8px 5px;
  cursor: pointer;
  min-width: 70px;
  font-size: 0.8rem;
}

.active {
  background-color: #5461f9;
  font-weight: 500;
  color: white;
}

.tabContent {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 94%;
}

.documentTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.buttonContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .documentListTitle {
    margin-left: 10px;
    /* margin-bottom: 10px; */
    font-size: 1rem;
    font-weight: 600;
    color: white;
  }

  .buttonRow {
    display: flex;
    align-items: center;
  }
  
  .documentButton {
    padding: 12px 25px;
    border: none;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #5661F6;
    color: white;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      filter: brightness(1.2);
    }
  }

}



.documentTable th, .documentTable td {
  /* border: 1px solid #ccc; */
  padding: 6px;
  font-size: 0.9rem;
  text-align: left;
}

.documentTable th {
  border-bottom: 2px solid rgba(255, 255 ,255, 0.1);
  font-weight: 500;
  color: white;
  padding-bottom: 10px;
}

.documentTable tr:hover {
  background-color: #23232d;
}


.documentItema {
  /* background-color: #fff; */
  height: 23px;
  color: white;
  font-size: 0.8rem;
  font-weight: 400;
  
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000; /* Ensure this is high enough */
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog {
  width: 70%;
  height: 70%;
  background-color: #23232d;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 4000; /* Make sure this is slightly higher than the overlay */
  display: flex;
  flex-direction: column;
}


.closeButtonDoc {
  position: absolute;
  padding: 2px 8px;
  top: 4px;
  right: 4px;
  background: none;
  border: none;
  font-size: 34px;
  cursor: pointer;
  /* border-bottom: 3px solid white;
  border-left: 3px solid white; */
  color: white;
}

.dialogContent {
  height: 100%;
  width: 100%;
  padding: 20px;
}



.mainPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #FFFFFFCC;
  font-size: 1.9rem;
  padding-top: 6%;
  padding-bottom: 10px;
  font-weight: 500;
}

.subtitle {
  color: #FFFFFFB2;
  font-weight: 400;
  font-size: 1.3rem;
  padding-bottom: 50px;

}

.uploadSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 3px dashed #6D6D6D80;
  padding: 20px;
  gap: 8px;
}

.cloudImage {
  width: 3rem;
}
.dragTextline {
  padding-top: 10px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 1rem;
  gap: 6px;
  padding-bottom: 15px;
}

.uploadSectionTitleLabel {
  color: var(--brand-purple);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1rem;
}
.max10Text {
  color: #6D6D6D;
}

.uploadModal {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2e2e2e;
}


.uploadingText {
  color: #fff;
  margin-top: 20px;
}

.cancelButton {
  background-color: #4e7fff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancelButton:hover {
  background-color: #3a6ddb;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.progress {
  height: 70px;
  width: 70px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progressText {
  color: #5661F6;
}


.chatScreen {
  width: 100%;
  height: 100%;
  display: flex;
  
  .temp {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
  }
  .mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 70%;
    background: linear-gradient(
      to bottom, 
      rgba(53, 52, 64, 1) ,  /* Top color */
      rgba(53, 52, 64, 0.85)  /* Bottom color */
);
    /* overflow-y: auto;
    scrollbar-width: thin; 
    scrollbar-color: #888 #f1f1f1;  */
  }

  .mapTypes {
    display: flex;
    gap: 10px;

    .mapItem {
      border: 2px solid #5661F6;
      padding: 5px 10px;
      border-radius: 5px;
      color: white;
      font-size: 0.8rem;
      cursor: pointer;
      user-select: none;
    }
  }

  .mapControllerContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    /* background-color: rgba(0,0,0,0.2); */
    background-color: transparent;

    .mapController {
      width: fit-content;
      display: flex;
      gap: 10px;
      padding: 5px 10px;

      .buttonRFPUpload {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: white;
        user-select: none;
        border: none;
        color: black;
        font-weight: bold;
        font-size: 0.8rem;
        padding: 10px 20px;
        border-radius: 2px;
        cursor: pointer;
      }

      .activeButton {
        background-color: #5661F6;
        color: white;
      }
      .buttonRFPUpload:hover {
        opacity: 0.8;
      }

      .button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        background-color: #5461f9;
        border: none;
        color: white;
        font-size: 0.8rem;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
      .button:hover {
        opacity: 0.9;
      }
    }
  }
  .mapContainer {
    width: 95%;
    height: 100%;
  }
  .generating {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    width: 95%;
    height: 70%;
    border: 3px solid #5661F6;
    border-radius: 10px;
    animation: blink-animation 1.5s infinite;
  }
}
.regenerateContainer {
  display:flex; 
  justify-content: center;
  font-weight: 600; 
  color:#5661F6; 
  padding-top: 10px; 
  font-size:0.7rem; 

  .regenerate {
    /* border: 1px solid white; */
    padding: 4px 8px;
    min-width: 120px;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .loader {
    border: 3px solid #f3f3f3; /* Light grey */
    border-top: 3px solid #5661F6; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}
.loaderFile {
    border: 3px solid black; /* Light grey */
    border-top: 3px solid #5661F6; /* Blue */
    border-radius: 50%;
    width: 15px;
    height: 15px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.userDialogMain {
  position: relative; /* Ensure this is relative to position child elements */
  padding: 20px; /* Add padding to ensure content is not touching the edges */
  height: 100%; /* Take full height of the dialog */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute space between elements */
}

.logoutButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 15px; 
  right: 15px; 
  background-color: white;
  width: 90px;
  height: 30px;
  font-weight: 600;
  font-size: 0.8rem;
  border-radius: 3px;
  cursor: pointer; /* Add cursor pointer */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for better visibility */
}

.subMain {
  color: white;
  width: 100%;
  height: 100%;

  .subTitle {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    font-weight: 700;
  }

  .subBoxes {
    display: flex;
    gap: 10px;
    height: 100%;
    justify-content: center;
    padding-top: 20px;
  }
  .subBox {
    background-color: white;
    color: black;
    height: 100%;
    width: 30%;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 20px 25px;

    &:hover {
      background-color: #5661F6;

      .top .type, .pointers .point {
          color: white;
      }
      .top .month, .top .tag {
        color: white;
      }
      .top .price {
        color: #9B91FF;
      }
      .top .button .learnNow {
        background-color: white;
        color: #5661F6;
      }
  }

  
  .top {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 500;
    gap: 5px;
    font-size: 1rem;
  
  .type {
    color: #5661F6;
    font-size: 1.4rem;
  }

  .price {
    font-size: 3rem;
    color: #5661F6;
    font-weight: 600;
    letter-spacing: -2px;
  }

  .month {
    font-size: 0.8rem;
    color: #8896AB;
    padding-bottom: 10px;
  }

  .tag {
    color: #0C2A52;
    font-size: 0.75rem;
    opacity: 0.65;

  }
  }
  .toptop {
    height: 41%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .button {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5px;

    .learnNow {
      background-color: #5661F6;
      color: white;
      width: 100%;
      height: 30px;
      cursor: pointer;
      border: none;
      border-radius: 20px;
      font-size: 0.7rem;
    }
  }

  .priceContainer {
    display: flex;
    align-items: flex-end;
    gap: 10px;
  }    
  
  .pointers {
    padding-top: 20px;
    width: 100%;

    .point {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 0.7rem;
      padding-bottom: 5px;
      color: #5661F6;
    }
  }


  
  }

}

@keyframes blink-animation {
  0% {
    border-color: #5661F6; 
    background-color: transparent; 
  }
  50% {
    background-color: rgba(86, 97, 246, 0.1);
  }
  100% {
    border-color: #5661F6; /* First color (back to original) */
    background-color: transparent; /* First background color (back to original) */
  }
}
/* The following css is for the pdfanalyzationPage */

.main {
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  align-items: center;  
  overflow-y: auto;


  .rightAsideMenu {
    position: sticky;
    top: 0;
    transition: width 0.3s ease;
    width: min(60%, 600px);    
    height: min(calc(80dvh - 20px), 800px);
    margin-right: 30px;
    padding-top: 20px;
  
  .menuHidden {
    width: 0%;
  }
  .menuContent {
    background-image: 
        linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), /* Adjust opacity here */
        url('/dots.png');
    background-size: cover; /* Adjusts the image to cover the entire element */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    border: 3px solid white;
    background-color: rgba(133, 141, 255, 0.2);
    height: 100%;
    border-radius: 12px;
  }
  
  .menuVisible {
    transform: translateX(0);
  }

  }
  

  .navButton {
    padding:  0px 30px;
  }

  .asideMenuContainer {
    position: sticky;
    top: 0;
    padding-top: 10px;
    transition: width 0.3s ease;
    width: 20vw;
    margin: 0px 13px;

    .toggleButton {
      position: absolute;
      top: 20px;
      right: -10px;
      background-color: white;
      /* padding: 5px; */
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
    }
    .toggleButtonChat {
      position: absolute;
      top: 20px;
      left: -12px;
      background-color: white;
      /* padding: 5px; */
      height: 40px;
      width: 40px;
      border-radius: 50%;
      cursor: pointer;
      z-index: 10;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .blockTitle {
      display: flex;
      color: white;
      justify-content: center;
      padding-top: 10px;
      font-weight: 500;
      font-size: 1.2rem;
    }
    .buttonRow {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 0px 10px;
      padding-top: 6%;
    }
  }
  
  .menuHidden {
    width: 0px;
  }
  
  .menuContent {
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .menuHidden .menuContent {
    opacity: 0;
    pointer-events: none;
  }
  
  .asideContainer {
    height: calc(100dvh - 20px);
    gap: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }  

  .background {
    height: 100%;
    background-color: #23232d;
  }

  .fullContent {
    flex: 1;
    padding: 20px 0px;
    transition: margin-left 0.3s ease;
    height: 100%;
    z-index: 4;
  }
  
  .contentWithMenu {
    flex: 1;
    height: 100%;
    padding: 20px 0px;
    transition: margin-left 0.3s ease;
    z-index: 4;
  }
  
  .upgradeBannerContainer {
    position: absolute;
    top: 50%;
    right: 0px; 
    transform: translateY(-50%);
    z-index: 10;
  
    .upgradeBannerImage {
      height: 150px;
    }
  }

}

.widgetsContainer {
  width: 100%;
  height: min-content;
  margin-top: 20px;
  padding: 0px 20px 30px 20px;
  display: flex;
  gap: 15px;
  
  .pieChartContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: 10px 25px;

    .top {
      color: white;
      .title {
        font-size: 1.1rem;
        opacity: 0.9;  
      }
      .text {
        font-size: 2.5rem;
        font-weight: 600;

      }
    }
    .bottom {
      display: flex;
      justify-content: flex-end;
      gap: 5px;
      align-items: center;

      .labelRow {
        display: flex;
        align-items: center;
        gap: 10px;

        .color1 {
          height: 10px;
          width: 10px;
          background-color: #fdb80a;
        }
        .color2 {
          height: 10px;
          width: 10px;
          background-color: #fed783;
        }
        .label {
          color: white;
          font-size: 0.8rem;
          font-weight: 500;
        }
      }
      .pieChart {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        border: 1px solid black;
        background: conic-gradient(
          #fdb80a 0% 70%,
          #fed783 70% 100%
        );
        position: relative;
      
        .hole {
          width: 2rem; 
          height: 2rem;
          background-color: rgba(72,68,100, 1); 
          border: 1px solid black;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  
    
    
    
  }
  
  
  
  .large {
    height: 300px;
    background-color: rgba(133, 141, 255, 0.2);
    border-radius: 12px;
    position: relative;
  }
  .add {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    background-color: rgba(133, 141, 255, 0.3);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2rem;

  }

  .large:hover, .medium:hover, .smallWidget:hover {
    .add {
      opacity: 1;
      cursor: pointer;
    }
    .placeholder {
      opacity: 0;
    }
  }
  .mainText {
    font-size: 0.75rem;
    color: white;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .mainNum {
    font-size: 1.5rem;
    color: white;
    font-weight: 600;
    text-align: center;
  }
  .subText {
    font-size: 0.7rem;
    color: white;
    opacity: 0.8;
    font-weight: 500;
  }
  .subTextM{
    font-size: 0.9rem;
    color: white;
    opacity: 0.8;
    font-weight: 600;
  }
  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .placeholder {
    position: absolute;
    z-index: -1;
    color: white;
    font-weight: 600;
    font-size: 0.7rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
  }
  
  .medium {
    height: 150px;
    background-color: rgba(133, 141, 255, 0.2);
    border-radius: 12px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .small {
    display: flex;
    gap: 15px;

.generating {
  border: 2px solid #5661F6;
}
    .smallWidget {
      flex: 1;
      height: 150px;
      background-color: rgba(133, 141, 255, 0.2);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      position: relative;
    }
  }
  .widget1 {
    flex: 1;
    height: 150px;
    background-color: rgba(133, 141, 255, 0.2);
    border-radius: 12px;
  }
  .widget2 {
    flex: 1;
    height: 150px;
    display: flex;
    gap: 8px;
    border-radius: 12px;  
  }
}